#logo-size {
    width: 400px;
    height: 400px;
}

.div-card {
    
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: white;
    border-radius: 30px;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(216, 15%, 48%);
    margin: 300px;
    padding: 100px;
}

#card-paragraph, #card-title {
    text-align: center;
   
}

#card-paragraph {
     font-size: 15px;
}